//NORMALIZE

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');

*{
  font-family: 'Oswald', sans-serif !important;
}
.material-icons{
  font-family: 'Material Icons' !important;
}

//COLOR-THEME
$black: #222222;
$white: #ffffff;
$blue: #4b4e6d;
$teal: #84dcc6;
$grey: #95a3b3;

body{
  background: lighten($grey, 20%);
}

#app{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  width: 45%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transform: translateX(45%);
  transition: .5s;
  will-change: transform;
  &.active{
    transform: translateX(0);
    nav{
      -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%, 36% 87%, 53% 45%);
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%, 36% 87%, 53% 45%);
    }
  }
  a.toggleMenu{
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    i{
      font-size: 3rem;
      color: $black;
      &:hover{
        color: darken($teal, 20%);
      }
    }
  }
  nav{
    display: flex;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: $black;
    flex-direction: column;
    align-items: flex-end;
    will-change: transform;
    -webkit-clip-path: polygon(68% 0, 100% 0, 100% 100%, 64% 100%, 66% 87%, 67% 46%);
    clip-path: polygon(68% 0, 100% 0, 100% 100%, 64% 100%, 66% 87%, 67% 46%);
    transition: .5s;
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $blue;
      -webkit-clip-path: polygon(68% 0, 100% 0, 100% 100%, 23% 100%, 48% 91%, 64% 46%);
      clip-path: polygon(68% 0, 100% 0, 100% 100%, 23% 100%, 48% 91%, 64% 46%);
    }
    a{
      display: block;
      z-index: 2;
      margin: 30px;
      text-decoration: none;
      color: lighten($grey, 20%);
      font-size: 3rem;
      font-weight: 900;
      &.active{
        text-decoration: underline;
      }
      &:hover{
        color: lighten($grey, 40%);
      }
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: .75rem;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  span.teal{
    color: darken($teal, 20%);
  }
  .home{
    text-align: center;
    line-height: 1.4;
    font-size: 2.5rem;
    color: $black;
  }
  .stack{
    text-align: center;
    line-height: 1.4;
    font-size: 2.5rem;
    color: $black;
    height: 100%;
    p{
      margin: 20px 50px;
    }
    ul.stackList{
      font-size: 1.1rem;
      display: grid;
      max-height: 85vh;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0 20px;
      margin-bottom: 20px;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-gap: 20px;
      padding: 0 20px;
      &::-webkit-scrollbar {
        width: .5em;
        transform: translateX(10px);
      }
      &::-webkit-scrollbar-thumb {
        background-color: darken($teal, 20%);
      }
      li{
        display: grid;
        position: relative;
        justify-content: center;
        align-items: center;
        grid-auto-flow: column;
        grid-template-rows: 3fr 1fr;
        background: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
        height: 180px;
        padding: 10px 10px;
        img{
          max-width: 150px;
          width: 100px;
          margin: 0 auto;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background: $blue;
          z-index: -1;
          transition: .5s;
          transform: rotate(0deg);
        }
        &:hover:before{
          transform: rotate(5deg);
        }
      }
    }
  }
  .playground{
    text-align: center;
    line-height: 1.4;
    font-size: 2.5rem;
    color: $black;
    img{
      margin-top: 20px;
    }
  }
  .contacts{
    p{
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .list{
      display: flex;
      justify-content: space-around;
      a{
        img{
          width: 50px;
        }
      }
    }
  }
  .p404{
    text-align: center;
    line-height: 1.4;
    font-size: 2.5rem;
    a{
      color: darken($teal, 20%);
      text-decoration: none;
      &:hover{
        color: darken($teal, 25%);
      }
    }
  }
}

@media (max-width: 719px) {
  header{
    transform: translateX(100%);
    width: 100%;
    a.toggleMenu {
      position: absolute;
      top: 5px;
      left: -60px;
      transition: .5s;
    }
    nav{
      &:before{
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%, 10% 91%, 15% 46%);
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%, 10% 91%, 15% 46%);
      }
      a{
        font-size: 2.5rem;
      }
    }
    &.active{
      a.toggleMenu {
        position: absolute;
        top: 5px;
        left: 5px;
      }
      nav{
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0% 87%, 0% 20%);
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0% 87%, 0% 20%);
      }
    }
  }
  footer{
    display: none;
  }
  main{
    max-width: 100vw;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    .stack{
      height: 100%;
      p{
        font-size: 1.6rem;
      }
      ul.stackList {
        font-size: 1.1rem;
        display: grid;
        max-height: 65vh;
      }
    }
  }
}
