//NORMALIZE

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');

*{
  font-family: 'Oswald', sans-serif !important;
}
.material-icons{
  font-family: 'Material Icons' !important;
}

body{
  background: black;
  color: white;
}

header{
  width: 100vw;
  height: 100px;
  margin-bottom: 50px;
  nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    transition: .5s;
    &.mobile.hidden{
      transform: translateX(300px);
      transition: .5s;
      div.burger{
        transform: translate(-200px, 10px);
        transition: .5s;
        div{
          transition: .5s;
          background: deeppink;
        }
      }
    }
    &.mobile{
      transform: translateX(0px);
      transition: .5s;
      display: none;
      flex-direction: column;
      justify-content: start;
      width: 250px;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      background: deeppink;
      background: linear-gradient(to bottom, deeppink 0%,#000000 90%);
      div.burger{
        transform: translate(100px, 10px);
        transition: .5s;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 30px;
        height: 30px;
        div{
          transition: .5s;
          width: 8px;
          height: 8px;
          margin: 1px;
          background: #000;
        }
        div:nth-child(2n){
          background: deeppink;
        }
      }
      a{
        color: black;
        border-color: black;
        background: none;
        margin-top: 20px;
      }
      a.active{
        color: deeppink;
        border-color: black;
        background: black;
        filter: none;
        transform: skewX(25deg) translate(0px,0);
      }
      a:hover{
        transform: skewX(25deg) translate(-30px,0);
      }
      a:before{
        display: none;
      }
      a:after{
        display: none;
      }
    }
    a{
      margin-right: 4px;
      background: #000;
      font-size: 14px;
      box-sizing: border-box;
      height: 40px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400 !important;
      color: white;
      border: 2px solid white;
      will-change: transform;
      transform: skewX(25deg) translate(0,0);
      transition: .5s;
      &:nth-child(1){
        z-index: 4;
      }
      &:nth-child(2){
        z-index: 3;
      }
      &:nth-child(3){
        z-index: 2;
      }
      &:nth-child(5){
        z-index: 1;
      }
      &:before{
        background: #000;
        content: "";
        position: absolute;
        border: 2px solid white;
        top: 9px;
        left: -24px;
        height: 35px;
        width: 18px;
        transition: .5s;
        transform: skewY(-45deg);
      }
      &:after{
        background: #000;
        content: "";
        position: absolute;
        border: 2px solid white;
        top: 33px;
        left: 9px;
        height: 26px;
        width: 103px;
        transition: .5s;
        transform: rotate(45deg) skewY(-45deg);
      }
      &:hover{
        transform: skewX(25deg) translate(-14px,14px);
      }
      &.active{
        color: deeppink;
        border: 2px solid deeppink;
        transform: skewX(25deg) translate(-14px,14px);
        filter: drop-shadow(2px -1px 4px #e51488);
        &:after{
          border: 2px solid #b41463;
          filter: drop-shadow(-2px -1px 4px #e51488);
        }
        &:before{
          border: 2px solid #e51488;
          filter: drop-shadow(-1px -2px 2px #e51488);
        }
      }
    }
  }
  @media (max-width: 719px) {
    nav.desktop{
      transform: translateY(-120px);
      transition: .5s;
    }
    nav.mobile{
      display: flex;
      transform: translateX(0px);
      transition: .5s;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: black;
  color: deeppink;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  h3{
    display: block;
    padding: 3px;
    background: deeppink;
    color: black;
    margin-right: 20px;
    z-index: 9;
  }
  .animatedLine{
    width: 100%;
    height: 100%;
    position: absolute;
    div{
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: deeppink;
      animation-name: footer-animation;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    div:nth-child(2){
      animation-delay: 1s;
    }
    div:nth-child(3){
      animation-delay: 2s;
    }
    div:nth-child(4){
      animation-delay: 2.5s;
    }
    div:nth-child(5){
      animation-delay: 3s;
    }
    div:nth-child(6){
      animation-delay: 3.5s;
    }
    @keyframes footer-animation {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        transform: translateY(-150px);
        opacity: 0;
      }
    }
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  .home, .p404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
  }
  .p404{
    h1{
      font-size: 40px;
    }
    a{
      text-decoration: none;
      color: deeppink;
    }
  }
}
